body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden; }

path {
  fill: none;
  stroke: #56c2a3; }

text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white, 1px 1px 3px white;
  pointer-events: none;
  font-family: 'Playfair Display', serif; }

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.65em; }

.hidden {
  display: none !important; }

.container .canvas {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  /**
     shared
     */ }
  .container .canvas .conversation_templates {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .container .canvas .conversation_templates.conversation_start {
    position: absolute;
    top: 35%;
    left: 35%; }
  .container .canvas .conversation_templates.response_template__js {
    position: relative;
    background: #eee;
    -webkit-box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 10px 0 0; }
    .container .canvas .conversation_templates.response_template__js .response-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .container .canvas .conversation_templates.response_template__js .response-text textarea {
      min-height: 80px;
      width: 100%;
      border: 2px solid black; }
    .container .canvas .conversation_templates.response_template__js .connector {
      position: absolute;
      right: -30px;
      top: 50%;
      height: 20px;
      width: 20px;
      border: 2px solid #000; }
  .container .canvas .form-group {
    margin-bottom: 15px; }
  .container .canvas .media .img-wrapper {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden; }
  .container .canvas .img-wrapper img {
    width: 80%;
    height: 80%; }
  .container .canvas .media-body {
    padding-top: 25px;
    max-width: 275px;
    width: 100%; }
  .container .canvas .start-text {
    position: absolute;
    top: 2px;
    right: 0; }
    .container .canvas .start-text span {
      margin-right: 0;
      background: blue;
      color: #fff;
      padding: 3px 20px; }
  .container .canvas .media {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px 15px;
    -webkit-box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3); }
  .container .canvas .add-response {
    margin-top: 15px;
    background: #eee;
    padding: 10px;
    -webkit-box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3); }
  .container .canvas button.editor-normal-btn {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
  .container .canvas button.button-no-frame {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; }
  .container .canvas .add-response > div {
    text-align: right; }
