body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

path {
    fill: none;
    stroke: #56c2a3;
}

text {
    text-shadow: -1px -1px 3px white,
    -1px 1px 3px white,
    1px -1px 3px white,
    1px 1px 3px white;
    pointer-events: none;
    font-family: 'Playfair Display', serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        box-sizing: border-box;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.65em;
}

.hidden {
    display: none !important;
}

.container .canvas {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;

    .conversation_templates {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .conversation_templates.conversation_start {
        position: absolute;
        top: 35%;
        left: 35%;
    }

    .conversation_templates.response_template__js {
        position: relative;
        background: #eee;
        box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin: 10px 0 0;

        .response-footer {
            display: flex;
            justify-content: space-between;
        }

        .response-text {
            textarea {
                min-height: 80px;
                width: 100%;
                border: 2px solid black;
            }
        }

        .connector {
            position: absolute;
            right: -30px;
            top: 50%;
            height: 20px;
            width: 20px;
            border: 2px solid #000;
        }
    }

    .form-group {
        margin-bottom: 15px;
    }

    .media .img-wrapper {
        width: 80px;
        height: 80px;
        min-width: 80px;
        margin-right: 15px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .img-wrapper img {
        width: 80%;
        height: 80%;
    }

    .media-body {
        //position: relative;
        padding-top: 25px;
    }

    .start-text {
        position: absolute;
        top: 2px;
        right: 0;

        span {
            margin-right: 0;
            background: blue;
            color: #fff;
            padding: 3px 20px;
        }
    }

    .media {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px 15px;
        box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    }

    /**
     shared
     */
    .add-response {
        margin-top: 15px;
        background: #eee;
        padding: 10px;
        box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.3);
    }

    button.editor-normal-btn {
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    button.button-no-frame {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }

    .add-response > div {
        text-align: right;
    }
}
